.App {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  background-color: #231D1F;
}

.Header {
  display: flex;
  background-color: #2C3E50;
  padding: 5px;
}

.Title {
  align-content: center;
  margin-left: 10px;
  color: #eeeeee;
  font-family: 'Economica', sans-serif;
  font-size: 35px;
}

.SignUp {
  align-content: center;
   width: 8%;
   height: 35px;
   margin-left: 75%;
   margin-top: 30px;
   border: none;
   background: #641E16;
   color: rgb(108, 156, 156);
   font-family: 'Economica', sans-serif;
   font-size: 20px;
   border-radius: 5px;
}

.SignUp:hover {
  background: #eeeeee;
  border: 1.5px solid #641E16;
  color: #2C3E50;
}

.Login {
  background-color: #231D1F;
  text-align: center;
  font-family: 'Economica', sans-serif;
  color: #C01E54;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  border: 1px solid #2C3E50;
  margin-bottom: 15px;
}

.inp_username {
    position: relative;
    width: 50%;
    height: 30px;
    margin-left: 25%;
    margin-bottom: 15px;
    border: 2px solid #641E16;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Economica', sans-serif;
    font-size: 20px;
    color: #641E16;
    font-weight: bold;
}

.inp_pass {

  width: 50%;
  height: 30px;
  margin-left: 25%;
  margin-bottom: 15px;
  border: 2px solid #641E16;
  border-radius: 5px;
  padding-left: 5px;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  color: #641E16;
  font-weight: bold;
}

.enter_button {
    width: 50%;
    height: 30px;
    margin-left: 25%;
    margin-bottom: 15px;
    margin-bottom: 15px;
    background-color: #641E16;
    border: none;
    border-radius: 5px;
    padding-left: 5px;
    font-family: 'Economica', sans-serif;
    font-size: 20px;
    color: rgb(108, 156, 156);
    font-weight: bold;
}

.enter_button:active {
  background: #C0392B;
  border: 1.5px solid #641E16;
  color: #2C3E50;
}

a {
  color: #C01E54;
  padding-bottom: 20px;
  text-decoration: underline;
  text-decoration-color: #5DADE2;
}

.Footer {
  background-color: #231D1F;
  text-align: center;
  font-family: 'Economica', sans-serif;
  color: #C01E54;
}

